<!--  filename:index.html.erb -->

<div class="index-body">
    
    <div class="index-header">
        <h2>ブログ一覧</h2>
    </div>
  
    <div class="col-md-8">
        <div class="index-content">
            <% @blogs.each do |blog| %>
                <div class="card col-6">
                    <div class="card-header border-primary">
                        <h4 class="card-title"><%= blog.title%></h4>
                        <h6 class="card-subtitle md-2 text-muted">ユーザー名</h6>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <%= blog.content%>
                        </p>
                    </div>
                    <div class="card-footer">
                        <%= link_to  "詳細表示", blog_path(blog.id) %>
                    </div>
            </div>
            <% end %>
        </div>

    </div>
    
    <div class="col-md-3 side-var">
            <%= render 'shared/search_form' %>
     </div>

        
</div>

