<!--  filename:index.html.erb -->

<div class="index-body">
    
    <div class="index-header">
        <h2>ブログ一覧</h2>
    </div>
  
    <%= render 'shared/index' %>
    <div class="col-md-3 side-var">
            <%= render 'shared/search_form' %>
     </div>
</div>