<% provide(:button_text, '更新') %>
<% provide(:page_title, 'ユーザー編集画面') %>

<div class="form-signin">
    <%= render 'form'%>
    <%= link_to "退会", user_path, method: :delete, data: {confirm: "今までの投稿は全て削除されます。それでもよろしいですか？"} %>
</div>