
    <%= search_form_for @search do |q| %>
    <div class="input-group">
            <%= q.text_field :title_or_content_cont_all, placeholde: "Enter keyword...", class: "form-control" %>
            <span class="input-group-btn">
                <%= q.submit "検索", class: "btn btn-default"%>
            </span>

        <% end %>
    </div>