@import "bootstrap-sprockets";
@import "bootstrap";

//全体
body {
  background-color: #f5f5f5;
}
.nav-link {
  font-weight: 500;
  color: black;
}
//header
#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: black;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
  }
.header-area .navbar {
    border-bottom: 1px solid;
    height: 55px;
    .navbar-nav{
      margin-right: 30px;
    }
}
.nav-item{
  list-style: none;
}
//form系
html{
  height: 100%;
}
textarea.form-control {
  height: 150px;
}


.form-body {
  min-height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

//blog

//index
.index-body {
  margin-top: 150px;
}
.card {
  padding: 15px;
  background-color: white;
  margin-bottom: 10px;
}
.side-var {
  height: 200px;
  background-color: white;
  .input-group {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.card-subtitle .name-link {
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
  cursor :pointer;
}

//show
.card-footer {
  margin-bottom: 0px;
}


//test

/*ボタン装飾*/
.hidden_box label {
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
  cursor :pointer;
}

/*ボタンホバー時*/
.hidden_box label:hover {
    background: #efefef;
}
/*中身を非表示にしておく*/
.hidden_box .hidden_show {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}

/*チェックは見えなくする*/
.hidden_box input[type=checkbox] {
    display: none;
}

